version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: rivoj-education-app
    ports:
      - "8080:8080"
    environment:
      DB_IP: db
      DB_NAME: rivojstorage
      DB_PASSWORD: 1
    depends_on:
      - db
    volumes:
      - ./fireBaseKeySDK.json:/app/fireBaseKeySDK.json


  db:
    image: postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_PASSWORD: 1
      POSTGRES_USERNAME: postgres
      POSTGRES_DB: rivojstorage
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
